# MkDocs configuration for separate builds
# This file is no longer used for building.
# Each language has its own config in config/en/ and config/fr/

site_name: IGOOR - Official Documentation
site_url: https://igoor-noprofit.github.io/docs/

docs_dir: docs

theme:
  name: material

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  - roamlinks
